.image-style {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin-left: 15px;
    filter:saturate(0px)
}
.image-style:hover {
  width: 100px;
    height: 100px;
    border-radius: 10%;
    margin-left: 15px;
    filter:saturate(3)
  }
.mongo-image-style {
    width: 200px;
    height: 100px;
    align-items: center;
    display: flex;
    margin-left: 350px;
    filter:saturate(1);
}
.mongo-image-style:hover {
  width: 200px;
  height: 100px;
  align-items: center;
  display: flex;
  margin-left: 350px;
  filter:saturate(2)
}
.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: auto;
  }
  .textBox {
    margin-left: 100px;
    font-size: 20px;
    overflow-wrap: break-word;
  }
  .experience-image-style {
    width: 200px;
    height: 200px;
    margin-left: 30px;
    border-radius: 10%
  }
  .experience-header {
    margin-top: 0px;
    margin-left: 120px;
    font-weight: bold;
    font-size: larger;
  }
  .experience-list {
    margin-top: 30px;
  }
  .headshot-image-style {
    width: 450px;
    height: 300px;
    margin-left: 30px;
    border-radius: 10%;
    filter: grayscale(5);
  }
  .headshot-image-style:hover {
    width: 450px;
    height: 300px;
    margin-left: 30px;
    border-radius: 10%;
    filter: saturate(1);
  }
  .incident-image-style {
    width: 450px;
    height: 300px;
    margin-left: 30px;
    border-radius: 10%;
    filter:grayscale(3)
  }
  .incident-image-style:hover {
    width: 450px;
    height: 300px;
    margin-left: 30px;
    border-radius: 10%;
    filter:saturate(2)
  }
  .link {
    text-decoration: none;
    color: blue;
    transition: text-decoration 0.8s;
  }
  .link:hover {
    text-decoration: underline;
    color: purple;
  }